<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">


<head>
    <meta charset="UTF-8">
    <title>Администрирование</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css"/>
    <base href="/">
</head>

<header>
    <div class="header">
        <a th:href="@{/index}"> Главная</a>
        <a th:href="@{/newadv}"> Подать объявление</a>
        <a th:if="${#httpServletRequest.remoteUser} != null" th:href="@{/lk}"> Личный кабинет</a>
        <a th:if="${#httpServletRequest.remoteUser} == null" th:href="@{/register}"> Регистрация</a>

        <div class="header-greeting">
            <p th:if="${#httpServletRequest.remoteUser} != null" th:inline="text">Hello
                [[${#httpServletRequest.remoteUser}]]!</p>
        </div>

        <div class="header-right">

            <form th:name="logout" th:if="${#httpServletRequest.remoteUser} != null" th:action="@{/logout}"
                  method="post">
                <input type="submit" value="Sign Out"/>
            </form>

            <form th:name="login" th:if="${#httpServletRequest.remoteUser} == null" th:action="@{/login}" method="post">
                <input type="submit" value="Sign In"/>
            </form>
        </div>
    </div>
    <hr>
</header>

<body>

<form style="margin-left: 40%; margin-top: 10%" name="userBan" th:action="@{/admin/userban}" th:object="${user}"
      method="post">
    <span class="advheader" style="margin-left: 0px">Введите id пользователя, чтобы забанить его</span><br>

    <input type="text" th:field="*{login}"/>
    <input type="submit" value="Ok"/>
</form>


<form style="margin-left: 40%;margin-top: 10%" class="middle" name="advBan" th:action="@{/admin/advban}"
      th:object="${advert}" method="post">
    <span class="advheader" style="margin-left: 0px">Введите id объявления, чтобы забанить его</span><br>
    <input type="text" th:field="*{advId}"/>
    <input type="submit" value="Ok"/>
</form>


<form class="advheader" name="bannedAdv" th:action="@{/advban/{id}}" method="post">
    <tr th:each="advert : ${bannedAdverts}">
        <td>

            <br>
            <span th:text="${advert.getTitle()}"></span>
            <span th:text="${advert.getAdvId()}"></span>
            <br><br>
            <a class="button" th:href="@{'/advban/' + ${advert.getAdvId()}}">Разбанить
                объявление</a></a>
            <a class="button" th:href="@{'/showadv/' + ${advert.getAdvId()}}">Подробнее</a></a>

        </td>

        <br>

        <table>
            <tr
                    th:each="pict: ${pictures}"
                    th:if="${pict.getAdvertId()}!=null and ${pict.getAdvertId()} == ${advert.getAdvId()}">
                <div class="photo"><img th:src="@{'/img/' + ${pict.getPath()}}" th:width="150" th:height="120"/></div>
            </tr>
        </table>
    </tr>
</form>


</body>
</html>