<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">

<header>
    <a th:if="${#httpServletRequest.remoteUser} != null" th:href="@{/newadv}"> Подать объявление</a>
    <a th:href="@{/index}"> Главная</a>
    <a th:href="@{/lk}"> Личный кабинет</a></li>
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

    <form th:if="${#httpServletRequest.remoteUser} != null" th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</header>


<table>
    <tr
            th:each="pict: ${pictures}"
            th:if="${pict.getAdvertId()}!=null and ${pict.getAdvertId()} == ${advert.getAdvId()}">
        <img th:src="@{'/img/' + ${pict.getPath()}}" th:width="120" th:height="100" hspace="10"
             vspace="10"/>

    </tr>
</table>

<p> Год выпуска  <a  th:text="${advert.getFactYear()}"/></p>
<p> Пробег <a th:text="${advert.getMileage()}"/> км</p>
<p> Марка <a th:text="${brand.getName()}"/></p>
<p> Модель <a th:text="${model.getName()}"/></p>
<p> Тип кузова <a th:text="${charact.getBody()}"/></p>
<p> Коробка <a th:text="${charact.getTransmission()}"/></p>
<p> Привод <a th:text="${charact.getDriveUnit()}"/></p>
<p> Мощность <a th:text="${charact.getPower()}"/> л.с.</p>
<p> Описание <br> <a th:text="${advert.getDescription()}"/></p>
<br>
<p> Владелец <a th:text="${user.getUserName()}"/></p>
<p> Почта <a th:text="${user.getEmail()}"/></p>
<p> Мощность <a th:text="${charact.getPower()}"/> л.с. </p>

<p> Дата публикации <a th:text="${advert.getAddDate()}"/></p>



</body>
</html>