<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>А ты продай авто</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
    <!--<script type='text/javascript' src="/js/select.js"></script>
    -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <base href="/">
</head>


<header>
    <div class="header">
        <a th:href="@{/index}"> Главная</a>
        <a th:href="@{/newadv}"> Подать объявление</a>
        <a th:if="${#httpServletRequest.remoteUser} != null" th:href="@{/lk}"> Личный кабинет</a>


        <div class="header-greeting">
            <p th:if="${#httpServletRequest.remoteUser} != null" th:inline="text">Hello
                [[${#httpServletRequest.remoteUser}]]!</p>
        </div>

        <div class="header-right">

            <form th:name="logout" th:if="${#httpServletRequest.remoteUser} != null" th:action="@{/logout}"
                  method="post">
                <input type="submit" value="Sign Out"/>
            </form>

            <form th:name="login" th:if="${#httpServletRequest.remoteUser} == null" th:action="@{/login}" method="post">
                <input type="submit" value="Sign In"/>
            </form>
        </div>
    </div>
    <hr>
</header>

<body>
<br>
<br>
<form name='filter' th:action="@{/index}" th:object="${filter}" method='POST'>


    <div class="mid">

        <table>
            <a th:if="${filter.getBrandId()} == null">

                <tr>
                    <td>

                        <div class="styled-select green semi-square">
                            <select th:field="*{brandId}" onselect="this.form.submit()">

                                <option value=""> Марка</option>
                                <option th:each="brand : ${brands.findAllByBrandIdIsNotNull()}"
                                        th:value="${brand.brandId}"
                                        th:utext="${brand.name}">
                                </option>
                            </select>
                        </div>
                    </td>

            </a>


            <a th:if="${filter.getBrandId()} != null and ${filter.getModelId()}==null">


                <td>
                    <div class="styled-select green semi-square">
                        <select th:field="*{modelId}" onselect="this.form.submit()">
                            <option value=""> Модель</option>
                            <option th:each="model : ${model}"
                                    th:value="${model.modelId}"
                                    th:utext="${model.name}">
                            </option>
                        </select>
                    </div>
                </td>

            </a>

            <a th:if="${filter.getModelId()} != null">


                <td>
                    <div class="styled-select green semi-square">
                        <select th:field="*{charactId}" onselect="this.form.submit()">
                            <option value=""> Комплектация:</option>
                            <option th:each="charact : ${charact}"
                                    th:value="${charact.charactId}"
                                    th:utext="${charact.body} + ' ' +  ${charact.transmission} +
                                ' ' + ${charact.driveUnit} + ' ' + ${charact.power}">
                            </option>
                        </select>
                    </div>
                </td>

            </a>


            <td>
                <div class="styled-select green semi-square">
                    <select th:field="*{transmissionType}" onselect="this.form.submit()">
                        <option value=""> Тип КПП:</option>
                        <option th:each="transmissionType : ${transmissionTypes}"
                                th:value="${transmissionType}"
                                th:utext="${transmissionType}"
                                th:default=null>
                        </option>
                    </select>
                </div>
            </td>


            <td>
                <div class="styled-select green semi-square">
                    <select th:field="*{driveUnite}" onselect="this.form.submit()">
                        <option value=""> Тип привода:</option>
                        <option th:each="driveUnite : ${driveUnits}"
                                th:value="${driveUnite}"
                                th:utext="${driveUnite}"
                                th:default=null>
                        </option>
                    </select>
                </div>
            </td>
            </tr>


            <tr>
                <td><input type="number" th:field="*{minMileage}" th:default="0" placeholder="Пробег от..."></td>
                <td><input type="number" th:field="*{minCost}" placeholder="Стоимость от..."/></td>
                <td><input type="number" th:field="*{minPower}" th:default="0" placeholder="Мощность от..."/></td>

                </td>
            </tr>

            <tr>

                <td><input type="number" th:field="*{maxMileage}" th:default="100000000" placeholder="Пробег до..."/>
                </td>
                <td><input type="number" th:field="*{maxCost}" placeholder="Стоимость до..."/></td>
                <td><input type="number" th:field="*{maxPower}" th:default="100000000" placeholder="Мощность до..."/>
            </tr>

            <tr>
                <td>
                    <input type="submit" value="Apply"/>
                </td>


                <td>

                    <a th:href="@{/resetfilter}" class="knopka">Reset</a>

                </td>

            </tr>

        </table>
    </div>

    <br>
    <br>

    <tr th:each="advert : ${adverts}">


        <hr>

        <div class="advheader">


            <b><span><a th:text="${brands.findByBrandId(advert.getBrandId()).getName()}"/> |
                <a th:text="${modelRepo.findByModelId(advert.getModelId()).getName()}"/></span>
                <span style='padding-left:20%;'><a th:text="${advert.getCostVal()}"/> р </span></b>
            <span style='padding-left:10%;'> <a th:text="${advert.getMileage()}"/> км</span>

            <div class="like">
                <a th:if="${#httpServletRequest.remoteUser} != null and ${markRepo.findByAdvIdAndUserId(advert.getAdvId(),userId)} ==null"
                   th:href="@{'/like/' + ${advert.getAdvId()}}"><img th:src="@{/css/like_border.png}"></img></a>
            </div>
            <div class="like">
                <a th:if="${#httpServletRequest.remoteUser} != null and ${markRepo.findByAdvIdAndUserId(advert.getAdvId(),userId)} !=null"
                   th:href="@{'/like/' + ${advert.getAdvId()}}">
                    <img th:src="@{/css/like.png}"></img>
                </a>
            </div>

            <br>
        </div>
        <div class="advchar">
            <!--Дальше серым кузов мощность и привод-->
            <span><a th:text="${charactRepo.findCharactByCharactId(advert.getCharactId()).getPower()}"/> л.с. / </span>
            <span><a th:text="${charactRepo.findCharactByCharactId(advert.getCharactId()).getBody()}"/> / </span>
            <span><a th:text="${charactRepo.findCharactByCharactId(advert.getCharactId()).getDriveUnit()}"/></span>
        </div>

        <td>
            <table>
                <tr
                        th:each="pict: ${pictures}"
                        th:if="${pict.getAdvertId()}!=null and ${pict.getAdvertId()} == ${advert.getAdvId()}">
                    <div class="image">
                        <img th:src="@{'/img/' + ${pict.getPath()}}" th:width="150" th:height="120"/></div>
                </tr>
            </table>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <a class="button" th:if="${admin}==true" th:href="@{'/advban/' + ${advert.getAdvId()}}">Забанить
                объявление</a></a>
            <a class="button"  th:href="@{'/showadv/' + ${advert.getAdvId()}}">Подробнее</a></a>
            
            <br>
            <br>
            <br>
        </td>
    </tr>


</form>
</body>
</html>