<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">


<link type='text/css' rel='stylesheet' th:href="@{/css/style.css}"/>


<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>


<header>
    <nav>
        <ul>
            <li><a th:href="@{/lk}"> Личный кабинет</a></li>
            <li><a th:href="@{/register}"> Регистрация</a></li>
            <a  th:if="${#httpServletRequest.remoteUser} != null" th:href="@{/newadv}"> Подать объявление</a>
            <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
            <form th:if="${#httpServletRequest.remoteUser} != null" th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out"/>
            </form>
        </ul>
    </nav>
</header>

<body>


<form name='filter' th:action="@{/index}" th:object="${filter}" method='POST'>

    <table>

        <a th:if="${filter.getBrandId()} == null">
            <tr>
                <td>Марка:

                    <select th:field="*{brandId}" onselect="this.form.submit()">
                        <option value=""> --</option>
                        <option th:each="brand : ${brands.findAllByBrandIdIsNotNull()}"
                                th:value="${brand.brandId}"
                                th:utext="${brand.name}">
                        </option>
                    </select>
                </td>
            </tr>
        </a>

        <a th:if="${filter.getBrandId()} != null and ${filter.getModelId()}==null">

            <tr>
                <td>Модель:

                    <select th:field="*{modelId}" onselect="this.form.submit()">
                        <option value=""> --</option>
                        <option th:each="model : ${model}"
                                th:value="${model.modelId}"
                                th:utext="${model.name}">
                        </option>
                    </select>
                </td>
            </tr>
        </a>

        <a th:if="${filter.getModelId()} != null">

            <tr>
                <td>Комплектация:

                    <select th:field="*{charactId}" onselect="this.form.submit()">
                        <option value=""> --</option>
                        <option th:each="charact : ${charact}"
                                th:value="${charact.charactId}"
                                th:utext="${charact.body} + ' ' +  ${charact.transmission} +
                                ' ' + ${charact.driveUnit} + ' ' + ${charact.power}">
                        </option>
                    </select>
                </td>
            </tr>
        </a>

        <tr>
            <td>Тип КПП:

                <select th:field="*{transmissionType}" onselect="this.form.submit()">
                    <option value=""> --</option>
                    <option th:each="transmissionType : ${transmissionTypes}"
                            th:value="${transmissionType}"
                            th:utext="${transmissionType}"
                            th:default=null>
                    </option>
                </select>
            </td>

            <td>Тип привода:

                <select th:field="*{driveUnite}" onselect="this.form.submit()">
                    <option value=""> --:</option>
                    <option th:each="driveUnite : ${driveUnits}"
                            th:value="${driveUnite}"
                            th:utext="${driveUnite}"
                            th:default=null>
                    </option>
                </select>
            </td>
        </tr>


        <tr>
            <td>Пробег от:<input type="number" th:field="*{minMileage}" th:default="0"/></td>
            <td>до:<input type="number" th:field="*{maxMileage}" th:default="100000000"/></td>

        </tr>

        <tr>
            <td>Стоимость от:<input type="number" th:field="*{minCost}" th:default="0"/></td>
            <td>до:<input type="number" th:field="*{maxCost}" th:default="100000000"/></td>
        </tr>
        <tr>
            <td>Мощность от:<input type="number" th:field="*{minCost}" th:default="0"/></td>
            <td>до:<input type="number" th:field="*{maxCost}" th:default="100000000"/></td>
        </tr>


        <tr>
            <td>
                <input type="submit" value="Apply"/>
                <a th:href="@{/resetfilter}">Reset</a>

            </td>
        </tr>

    </table>

    <br>

    <tr th:each="advert : ${adverts}">


        <p>Марка <a th:text="${brands.findByBrandId(advert.getBrandId()).getName()}"/></p>
        <p> Модель <a th:text="${modelRepo.findByModelId(advert.getModelId()).getName()}"/></p>
        <p>Пробег <a th:text="${advert.getMileage()}"/></p>
        <p> Тип кузова <a th:text="${charactRepo.findCharactByCharactId(advert.getCharactId()).getBody()}"/></p>
        <p> Привод <a th:text="${charactRepo.findCharactByCharactId(advert.getCharactId()).getDriveUnit()}"/></p>
        <p> Мощность <a th:text="${charactRepo.findCharactByCharactId(advert.getCharactId()).getPower()}"/></p>
        <p> Стоимость <a th:text="${advert.getCostVal()}"/> р </p>

        <td>
            <table>
                <tr
                        th:each="pict: ${pictures}"
                        th:if="${pict.getAdvertId()}!=null and ${pict.getAdvertId()} == ${advert.getAdvId()}">
                    <img th:src="@{'/img/' + ${pict.getPath()}}" th:width="120" th:height="100" hspace="10"
                         vspace="10"/>
                </tr>
            </table>

            <br>
            <a th:href="@{'/showadv/' + ${advert.getAdvId()}}">Подробнее</a>

            <a th:if="${#httpServletRequest.remoteUser} != null and ${markRepo.findByAdvIdAndUserId(advert.getAdvId(),userId)} ==null"
               th:href="@{'/like/' + ${advert.getAdvId()}}">like</a>

            <a th:if="${admin}==true" th:href="@{'/advban/' + ${advert.getAdvId()}}">Забанить объявление</a></a>
            <br>
            <br>
        </td>


    </tr>


</form>


</body>
</html>