<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>LK</title>
</head>

<header>
    <a th:if="${#httpServletRequest.remoteUser} != null" th:href="@{/newadv}"> Подать объявление</a>
    <a th:if="${#httpServletRequest.remoteUser} != null" th:href="@{/index}"> Главная</a>

    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

    <form th:if="${#httpServletRequest.remoteUser} != null" th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</header>


<body>


<p>Ваш логин
<div th:text="${login}"></div>
</p>
<p>Ваше имя
<p th:text="${username}"> Имя</p></p>
<p>Ваш email
<p th:text="${email}"> Почта</p></p>
<p></p>

<tr th:each="advert : ${adverts}">
    <td>
        <p th:text="${advert.getTitle()}"</p>
    </td>
</tr>

</body>
</html>