<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>LK</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css"/>
    <link type="text/css" rel="stylesheet" href="/css/lk.css"/>
    <base href="/">
</head>

<header>
    <div class="header">
        <a th:href="@{/index}"> Главная</a>
        <a th:href="@{/newadv}"> Подать объявление</a>
        <a th:if="${#httpServletRequest.remoteUser} != null" th:href="@{/lk}"> Личный кабинет</a>
        <a th:if="${#httpServletRequest.remoteUser} == null" th:href="@{/register}"> Регистрация</a>

        <div class="header-greeting">
            <p th:if="${#httpServletRequest.remoteUser} != null" th:inline="text">Hello
                [[${#httpServletRequest.remoteUser}]]!</p>
        </div>

        <div class="header-right">

            <form th:name="logout" th:if="${#httpServletRequest.remoteUser} != null" th:action="@{/logout}"
                  method="post">
                <input type="submit" value="Sign Out"/>
            </form>

            <form th:name="login" th:if="${#httpServletRequest.remoteUser} == null" th:action="@{/login}" method="post">
                <input type="submit" value="Sign In"/>
            </form>
        </div>
    </div>
    <hr>
</header>


<body>
<br>
<br>


<a style="margin-left: 5.3%;" class="knopka" th:if="${admin}==true" th:href="@{'/admin'}">Модерация</a></a>
<div class="text">
    <p>Ваш логин: <a th:text="${login}"></a>
    </p>
    <p>Ваше имя: <a th:text="${username}"> Имя</a></p>
    <p>Ваш email: <a th:text="${email}"> Почта</a></p>
    <p></p>


    <H1> Ваши объявления</H1>

    <tr th:each="advert : ${adverts}">
        <td>
            <br>
            <span th:text="${advert.getTitle()}"></span>
        </td>
        <br>

        <table>
            <tr
                    th:each="pict: ${pictures}"
                    th:if="${pict.getAdvertId()}!=null and ${pict.getAdvertId()} == ${advert.getAdvId()}">
                <div class="photo"><img th:src="@{'/img/' + ${pict.getPath()}}" th:width="150" th:height="120"/></div>
            </tr>
        </table>
        <br>
        <br>
        <br>
        <br>
        <a class="button" style="margin-left: 0px;" th:href="@{'/showadv/' + ${advert.getAdvId()}}">Подробнее</a></a>

        <br>
        <hr style="margin-left: 5px;width: 80%">
        <br>
    </tr>

    <H1>Избранное</H1>
    <tr th:each="mark : ${marks}">
        <a th:text="${advertRepo.findByAdvId(mark.getAdvId()).getTitle()}"/>
        <br>
        <a th:each="pict: ${markPict}"
           th:if="${pict.getAdvertId()}!=null and ${mark.getAdvId()} == ${pict.getAdvertId()}">
        <div class="photo"><img th:src="@{'/img/' + ${pict.getPath()}}" th:width="150" th:height="120"/></div></a>
<br><Br>
<br><br>
        <a class="button" style="margin-left: 0px;" th:href="@{'/showadv/' + ${mark.getAdvId()}}">Подробнее</a>
        <br><br>
    </tr>
</div>
</body>
</html>