<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>LK</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css"/>
    <base href="/">
</head>

<header>
    <div class="header">
        <a th:href="@{/index}"> Главная</a>
        <a th:href="@{/newadv}"> Подать объявление</a>
        <a th:if="${#httpServletRequest.remoteUser} != null" th:href="@{/lk}"> Личный кабинет</a>


        <div class="header-greeting">
            <p th:if="${#httpServletRequest.remoteUser} != null" th:inline="text">Hello
                [[${#httpServletRequest.remoteUser}]]!</p>
        </div>

        <div class="header-right">

            <form th:name="logout" th:if="${#httpServletRequest.remoteUser} != null" th:action="@{/logout}"
                  method="post">
                <input type="submit" value="Sign Out"/>
            </form>

            <form th:name="login" th:if="${#httpServletRequest.remoteUser} == null" th:action="@{/login}" method="post">
                <input type="submit" value="Sign In"/>
            </form>
        </div>
    </div>
    <hr>
</header>



<body>


<a  th:if="${admin}==true" th:href="@{'/admin'}">Модерация</a></a>

<p>Ваш логин: <a th:text="${login}"></a>
</p>
<p>Ваше имя: <a th:text="${username}"> Имя</a></p>
<p>Ваш email: <a th:text="${email}"> Почта</a></p>
<p></p>


<H1> Ваши объявления</H1>

<tr th:each="advert : ${adverts}">
    <td>
        <a th:text="${advert.getTitle()}" th:href="@{'/showadv/' + ${advert.getAdvId()}}"/>
        <br>
    </td>


    <table>
        <tr
                th:each="pict: ${pictures}"
                th:if="${pict.getAdvertId()}!=null and ${pict.getAdvertId()} == ${advert.getAdvId()}">
            <img th:src="@{'/img/' + ${pict.getPath()}}" th:width="120" th:height="100" hspace="10"
                 vspace="10"/>
        </tr>
    </table>


</tr>
<H1>Избранное</H1>
<tr th:each="mark : ${marks}">
    <a th:href="@{'/showadv/' + ${advertRepo.findByAdvId(mark.getAdvId()).getAdvId()}}"
       th:text="${advertRepo.findByAdvId(mark.getAdvId()).getTitle()}"></a><br>
</tr>
</body>
</html>