<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Загрузите фото</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css"/>
    <base href="/">
</head>

<header>
    <div class="header">
        <a th:if="${#httpServletRequest.remoteUser} != null" th:href="@{/index}"> Главная</a>

        <a th:if="${#httpServletRequest.remoteUser} != null" th:href="@{/newadv}"> Подать объявление</a>


        <div class="header-right">

            <p th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</p>

            <form th:if="${#httpServletRequest.remoteUser} != null" th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out"/>
            </form>
        </div>
    </div>
    <hr>
</header>


<body>
<form name="upload" th:action="@{/upload}" method="post" enctype="multipart/form-data">

    <input type="file" th:object="${file1}" name="file1" ><br>
    <input type="file" th:object="${file2}" name="file2" ><br>
    <input type="file" th:object="${file3}" name="file3" ><br>
    <input type="file" th:object="${file4}" name="file4" ><br>
    <input type="file" th:object="${file5}" name="file5" ><br>

    <input type="submit">
</form>
</body>
</html>