<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:form="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css"/>
    <base href="/">
</head>

<header>
    <div class="header">
        <a th:href="@{/index}"> Главная</a>
        <a th:href="@{/newadv}"> Подать объявление</a>
        <a th:if="${#httpServletRequest.remoteUser} != null" th:href="@{/lk}"> Личный кабинет</a>


        <div class="header-greeting">
            <p th:if="${#httpServletRequest.remoteUser} != null" th:inline="text">Hello
                [[${#httpServletRequest.remoteUser}]]!</p>
        </div>

        <div class="header-right">

            <form th:name="logout" th:if="${#httpServletRequest.remoteUser} != null" th:action="@{/logout}"
                  method="post">
                <input type="submit" value="Sign Out"/>
            </form>

            <form th:name="login" th:if="${#httpServletRequest.remoteUser} == null" th:action="@{/login}" method="post">
                <input type="submit" value="Sign In"/>
            </form>
        </div>
    </div>
    <hr>
</header>


<body>

<form th:action="@{/register}" th:object="${User}" method="post">

    <table>
        <tr>
            <td>Login<input type="text" th:field="*{login}"/></td>
            <td th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Login must be between 8 and 25 char</td>
        </tr>

        <tr>
            <td>Password<input type="password" th:field="*{password}"/></td>
            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                Password must be longer then 8 symbols
            </td>
        </tr>

        <tr>
            <td>Confirm Password<input type="password" th:field="*{confirmpassword}"/></td>
            <td th:if="${#fields.hasErrors('confirmpassword')}" th:errors="*{confirmpassword}">
                Password must be longer then 8 symbols</td>

        </tr>

        <tr>
            <td>Enter name<input type="text" th:field="*{userName}"/></td>
        </tr>

        <tr>
            <td>Enter email<input type="text" th:field="*{email}"/></td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                Email should be formatted as abc@domain.com
        </tr>
    </table>
    <input type="submit" value="Apply"/>
</form>
</body>
</html>